VITE_SIGNATURE=ZTViN2E2MmIxOTY0MWM5OWVhNWM0OTdhNzQwMzQ1ODIyM2MxY2M2MzE5MDM0NzU2MDQ4ZmUwMWY5MjgzNzU0NzEzYWI1NzhhYTIzZTRmYTgxZDhhZTkwNTJkYmI2MTJhZDcyOGFjNTUwYjU3NjFlODA1M2IwNGZiMzJmNDlmMWY=
VITE_PAYMENT_INTENT=uJ2AWIQA4SFrL-cAkdKk2CAoowI6ZdsHt3aOK20qS4cfhnkcNF0YEV8rm2SJP02KzlmwOD7GSs1_dK0t2ePOhKKB0EcLbkQCjUlBGLX_a4wZPqIcx1LZc5Tqg-7Er-myAwHfj25zyIeM_gro7VdFDofRjf3_KkeRQKp2JPmKZW4upZnMUJn9bXcQFS089VHVMAwdOwmJ5HZxDYvMJOqTmaYFmscx--fZ4u8QwYDcg2RuYXkIViHCSxT8tlUSZcaHvg5WmFazmy0LI66OntlxQ8ctNI_s7kj4irHxAcHObVmiXSh5Pwb4vv9izup0Gcusw-Stdfuv1UgPxs1H2z0LhrbD2G_PgpVeD08WbxA6nJ4Ab-bqxQXMkMNrM1DFDQ_lzN4aFFo3g4h755Lvzz-r3p572FSBaXHU2SjxeV0OUhPCIPR6xQRawosmXONESk8hHv9uhmNhlX8s829HOZp7IuAPX7ckGlryFN7BMJTU0e9KESKYxNM37IkuPV8fJ_2SEemP0XOVmAYIMkNxyA27zv5NxEOXrNFUfh0D4mnpesLLaMynqZihBUwK1hY_oTk3cvWbn2QTvyjWLJhW8EWmeQ4oDoSODar0SB6HSO-2mgx-N4EPFpgnEiohxFdC2NbQrVdSucpbaA40OUXn64bgFdCo2Dwa49jKXrDydwdt0UepBxX_g6DpchhCJwMM9R8o_mFbi4fSCsLP4qInHncXzTt_0OU8zMNjxeR-oB-HbasATqbRTsGG-wmhpBkbJa399eUixZ3f6UA3oGC6AzPnnMC-Ej2e5mHSf2asA5rmS50=

VITE_RESIGN_MERCHANT="merchant-name"
VITE_RESIGN_SIGNATURE="merhcant-signature"
VITE_RESIGN_INTENT="merchant-intent"
